/*reset*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Grafica intestazione*/
#logo{
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
}
#title{
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

/*Colori*/
.bg-lightgrey{
    background-color: #F8F8F8;
}
.bg-white{
    background-color: #FFFFFF;
}
.bg-cyan{
    background-color: #47ADF1;
}
.text-white{
    color: #FFFFFF;
}
.text-gray{
    color: lightgray;
}

/*Grafica corpo*/
.container{
    margin: 40px auto;
    width: 70%;
    border-radius: 5px;
    padding-top: 15px;
}
.padd{
    padding-left: 4%;
}

/*Grafica nav*/
.button{
    font-size: 15px;
    padding: 5px 18px;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
}
nav>button:first-child{
    border-color: #47ADF1;
}
nav>button:nth-child(2){
    border-color: lightgray;
}
nav{
    padding-bottom: 10px;
    border-bottom: 3px solid #F8F8F8;
}

/*Grafica liste*/
ul{
    list-style-type: none;
}
.menu{
    font-size: 25px;
    font-weight: bold;
}
.item{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
.check{
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid #6CC4AF;
    vertical-align: middle;
    margin-left: 10px;
    color: #6CC4AF;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}
.border-red{
    border-color: #EB5953;
    color: #EB5953;
}
.group{
    margin-top: 30px;
}
.dist{
    margin-top: 10px;
}

/*Grafica etichette*/
.box{
    display: inline-block;
    border-radius: 15px;
    padding: 8px 12px;
    font-size: 14px;
    vertical-align: middle;
}
.bg-purple{
    background-color: #9C72E4;
}
.bg-green{
    background-color: #6CC4AF;
}
.bg-orange{
    background-color: #F29E33;
}
.bg-pink{
    background-color: #D863A1;
}
.bg-badgreen{
    background-color: #B0C926;
}